@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-league-gothic);
  --font-mono: var(--font-league-gothic);
}

@font-face {
  font-family: 'League Gothic';
  src: url('/static/fonts/League_Gothic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Remove all default Next.js styling */
html { 
  background: rgb(49,46,90); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow-x: hidden;
  background: transparent !important;
}
